@import './base.css';

button {
  padding: 10px;
  cursor: pointer;
  border: 2px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--color-btn);
  color: var(--vt-c-indigo);
  font-weight: bold;
}

button:hover:enabled {
  border: 2px solid var(--color-border-hover);
  background-color: var(--color-background-soft);
  color: var(--vt-c-white);
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--color-background-mute);
  color: var(--color-text);
}

.btn-text {
  font-weight: bold;
}

a {
  color: currentColor;
}

@media (prefers-color-scheme: light) {
  .btn-text {
    color: var(--vt-c-white);
  }
  button:hover .btn-text {
    color: var(--vt-c-indigo);
  }
}
